:root {
  --bg: #3b3c43;
  --text: #e8e9eb;
  --muted: #a9abb0;
  --accent: #ffd166;
  --white: #fff;
  --container: 1480px;
  --footer-padding-vertical: 64px;
  --radius: 12px;
  --thirty-six: clamp(20px, 1.875vw, 100px);
  --twenty-four : clamp(20px, 1.25vw, 100px);
  --twenty : clamp(20px, 1.03vw, 100px);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: 'Roboto', sans-serif !important;
  box-sizing: border-box;
}
body {
  font-family: Roboto, sans-serif;
  min-width: 100%;
  margin: 0;
  padding: 0;
  height: auto;
}

.title__block {
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 2rem;
}
.main__title {
    font-size: var(--thirty-six);
    line-height: auto;
    text-align: center;
    margin: 0;
}
.title_red {
    color: #E11F27;
    font-weight: 800;
}
.title_black {
    color: #3B3C43;
    font-weight: 500;
}
.raspil__button {
    margin: 0 auto;
    display: block;
    color: #E11F27;
    border-radius: 10px;
    text-transform: uppercase;
    padding: 10px 73px;
    border: none;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px 1px rgba(59, 60, 67, 0.5);
    transition: 0.3s ease-in-out;
    cursor: pointer;
    font-size: var(--twenty-four);
    font-weight: 800;
    max-width: 300px;
}
.raspil__button:hover {
    transform: scale(1.03);
    color: #3B3C43;
    box-shadow: 0px 0px 4px 1px rgba(225, 31, 39, 0.5);
}
.line {
    width: 90%;
    max-width: 1300px;
    min-width: 600px;
    margin-top: 4rem;
    margin-bottom: 2rem;
    height: 1px;
}

.raspil__info {
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2.5rem;
}
.info_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.info_text {
    flex: 2;
}
.info_btn {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.btn_teh {
    padding: 7px 60px;
}
.btn_doc {
    padding: 10px 33px;
}
p {
    font-size: var(--twenty);
    color: #3B3C43;
    line-height: auto;
    font-weight: 400;
}
.text__red {
    color: #E11F27;
}
.text__black {
    color: #3B3C43;
    font-weight: 800;
}